<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="{{ path('contenido_raiz') }}">
		<img src="/images/icono.png" width="20" height="20" alt="">&nbsp;Pruebayaprueba
	</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item active">
      			<a href="{{ path('contenido_nosotros') }}" class="nav-link">Sobre nosotros</a>
      		</li>
			<li class="nav-item active">
				<a href="{{ path('contenido_colabora') }}" class="nav-link">Colabora con nosotros</a>
			</li>
			<li class="nav-item active">
				<a href="{{ path('contenido_actividad') }}" class="nav-link">¿Qué hacemos?</a>
			</li>
			<li class="nav-item active">
				<a href="{{ path('catalogo_cargar') }}" class="nav-link">Catálogo</a>
			</li>
			<li class="nav-item active dropdown">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
			    	role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">En Red</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">			    	
					<li class="dropdown-item">
						<a href="https://www.facebook.com/search/top/?q=albert%20prueba%20aprueba" target="_blank">Facebook</a>
					</li>
					<li class="dropdown-item">
						<a href="https://www.facebook.com/search/top/?q=albert%20prueba%20aprueba" target="_blank">Twitter</a>
					</li>
					<li class="dropdown-item">
						<a href="https://www.facebook.com/search/top/?q=albert%20prueba%20aprueba" target="_blank">Blog</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>