{% extends 'Contenido/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('anuncios/css/estilos.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="bloque container-fluid">
        {% include('Contenido/cabecera.html.twig') %}
    </div>

    <div class="row">
        <div id="bloqueA" class="col-2">

            {% set indice_secciones = false %}
            {% if indice_secciones %}
                <div>
                    {% include('Aula/indice_secciones.html.twig') %}
                </div>        
            {% endif %}

            <div>
                {% include('Contenido/anuncios.html.twig') %}
            </div>

            <div>
                {% include('Contenido/acceso_asignaturas.html.twig') %}
            </div>

            <div>
                {% if false %}
                    {% include('Aula/indice_secciones.html.twig') %}
                {% endif %}
            </div>
        </div>

        <div id="bloqueB" class="col-8">

            {% block breadcrumbs %}
                
                <div>
                    {# Definiendo los nodos del breadcrums #}
                    {% set nodos = [
                            {
                                'url': 'contenido_raiz',
                                'descripcion': '#', 
                            }, 
                        ] 
                    %}            
                    {% include('Contenido/breadcrums.html.twig') %}
                </div>

            {% endblock %}        

            {% block bloqueB %}
                <div>
                    {% include('Contenido/acceso_asignaturas.html.twig') %}
                </div>

            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include('Contenido/pie.html.twig') %}
        </div>
    </div>

    <div>aceptar cookies</div>

    {% block javascripts %}
        {{ parent() }}
        
        {# 
            A continuación todos los scripts para el tablón de anuncios.
            Debido a que no se puede hacer heredable anuncios.html.twig, sólo se puede poner aquí
            si que quiere que los scripts vayan siempre al final del documento. Si no nos importa
            que los scripts vayan dentro del documento se puede poner el código de abajo dentro de
            la plantilla anuncios.html.twig
        #}
        <script src="{{ asset('anuncios/js/jquery-3.3.1.js') }}"></script>
        <script type="text/javascript">
            var $jQuery_3_3_1 = jQuery.noConflict();
            window.jQuery = $jQuery_3_3_1;
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('/anuncios/js/jquery.innerfade.js') }}"></script>
        <script type='text/javascript'>
            $jQuery_3_3_1(document).ready(
                function(){
                    $jQuery_3_3_1('#news').innerfade({
                        animationtype: 'slide',
                        speed: 500,
                        timeout: 2000,
                        type: 'random',
                    });

                    $jQuery_3_3_1('ul#portfolio').innerfade({
                        animationtype: 'fade',
                        speed: 1000,
                        timeout: 4000,
                        type: 'sequence',
                    });

                }
            );
        </script>
        {# fin del código script para control del tablón de anuncios #}

    {% endblock %}

{% endblock %}
