{% extends 'Contenido/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('anuncios/css/estilos.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    {#<link rel="stylesheet" href="{{ asset('images/iconos/fontawesome/web-fonts-with-css/css/fontawesome.min.css') }}">#}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include('Contenido/cabecera.html.twig') %}
    </div>

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col">
                {% include('Contenido/anuncios.html.twig') %}
            </div>
        </div>
    </div>

    <div class="container-fluid row ml-2">
        <div id="bloqueA" class="col-2 bg-menu">

            <div>
                {% include('Contenido/acceso_asignaturas_indice.html.twig') %}
            </div>

            <div>
                {% if indice_secciones is defined %}
                    {% include('Aula/indice_secciones.html.twig') %}
                {% endif %}
            </div>
        </div>

        <div id="bloqueB" class="col-10">

            {% block breadcrumbs %}
                
                <div>
                    {# Definiendo los nodos del breadcrums #}
                    {% set nodos = [
                            {
                                'url': 'contenido_raiz',
                                'descripcion': '#', 
                            }, 
                        ] 
                    %}            
                    {% include('Contenido/breadcrums.html.twig') %}
                </div>

            {% endblock %}        

            {% block bloqueB %}
                <div>
                    {% include('Contenido/acceso_asignaturas.html.twig') %}
                </div>

            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include('Contenido/pie.html.twig') %}
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        
        {# 
            A continuación todos los scripts para el tablón de anuncios.
            Debido a que no se puede hacer heredable anuncios.html.twig, sólo se puede poner aquí
            si que quiere que los scripts vayan siempre al final del documento. Si no nos importa
            que los scripts vayan dentro del documento se puede poner el código de abajo dentro de
            la plantilla anuncios.html.twig
        #}
        <script src="{{ asset('anuncios/js/jquery-3.3.1.js') }}"></script>
        <script type="text/javascript">
            var $jQuery_3_3_1 = jQuery.noConflict();
            window.jQuery = $jQuery_3_3_1;
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('/anuncios/js/jquery.innerfade.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        
        <script type='text/javascript'>
            $jQuery_3_3_1(document).ready(
                function(){
                    $jQuery_3_3_1('#news').innerfade({
                        animationtype: 'slide',
                        speed: 500,
                        timeout: 2000,
                        type: 'random',
                    });

                    $jQuery_3_3_1('ul#portfolio').innerfade({
                        animationtype: 'fade',
                        speed: 1000,
                        timeout: 4000,
                        type: 'sequence',
                    });

                    window.cookieconsent.initialise({
                        "palette": {
                            "popup": {
                                "background": "#000"
                            },
                            "button": {
                                "background": "transparent",
                                "text": "#f1d600",
                                "border": "#f1d600"
                            }
                        },
                        "position": "bottom-left",
                        "content": {
                            "message": "Hola, las leyes nos obligan a molestarte con este mensaje de aceptación de cookies. La ley te obliga a hacer clic en aceptar para que puedas disfrutar de todas las funcionalidades de la web. Por otra parte, nosotros nunca compartiremos tus datos con terceros. Aprovechamos para darte un cordial saludo.",
                            "dismiss": "Aceptar",
                            "link": "Leer más",
                            "href": "http://politicadecookies.com/"
                        }
                    });
                }
            );
        </script>
        {# fin del código script para control del tablón de anuncios #}

    {% endblock %}

{% endblock %}
