{% extends 'Asignatura/info_asignatura.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_asignatura',
                    'descripcion': asignatura.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo
                	}
                }, 
                {
                    'url': 'contenido_documentos_asignatura',
                    'descripcion': 'Documentos'
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block cuerpo_asignatura %}
	
	<div>Documentación aportada:</div>
  		<table class="table">
            <thead class="thead-light">
            	<tr>
            		<th scope="col">Tipo</th>
            		<th scope="col">Nombre</th>
            		<th scope="col">Autor</th>
            	</tr>
            </thead>

			{% for documento in asignatura.getDocumentos() %}
		    	<tr>
		    		<td><img src="{{ asset('/images/iconos/' ~ documento.tipo ~ '.png') }}" width="30" height="30"></td>
		    		<td><a href="{{ '' ~ asset(documento.getFile() ~ '')}}" target="_blank">{{documento.descripcion}}</a>
		    		</td>
		    		<td>{{documento.usuario.username}}</td>
		    	</tr>
	    	{% endfor %}
	    </table>

		{% if is_granted('ROLE_ALUMNO') %}

            {% if mensaje %}
                <div>{{mensaje}}</div>
            {% endif %}
            
            <div>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">{{ form_row(form.descripcion) }}</div>
                <div class="form-group">{{ form_row(form.file) }}</div>
                <div class="form-group">{{ form_row(form.enviar) }}</div>
                {{ form_end(form) }}
            </div>

		{% endif %}
{% endblock %}

{#
  
        'documentos/' ~ 
        documento.getAsignatura().getTitulo ~ '/' ~ 
        documento.getFilename() ~ '.' ~
        documento.getTipo()
#}
