<ul class="nav nav-pills">
	<li class="nav-item dropdown">
		{% set activar = (activo == 'videos') ? 'active' : '' %}
		<a class="{{ 'nav-link dropdown-toggle ' ~ activar }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vídeos</a>

		<ul class="dropdown-menu">
			{% for categoria in asignatura.getCategorias() %}
				<li class="dropdown-item"><a href="{{ path('contenido_videos_categoria', {
						'asignatura': asignatura.titulo,
						'categoria': categoria.descripcion}) 
					}}">{{categoria.descripcion}}</a>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li class="nav-item">
		{% set activar = (activo == 'documentos') ? 'active' : '' %}
		<a href="{{ path('contenido_documentos_asignatura', {
		'asignatura': asignatura.titulo
		}) }}" class="{{ 'nav-link ' ~ activar }}">Documentos</a>
	</li>

	<li class="nav-item dropdown">
		{% set activar = (activo == 'temarios') ? 'active' : '' %}
		<a class="{{ 'nav-link dropdown-toggle ' ~ activar }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Temarios</a>
		<ul class="dropdown-menu">
			{% for temario in asignatura.getTemarios %}
				<li class="dropdown-item">
					<a href="{{ path('contenido_indice_temario', {
						'asignatura': asignatura.titulo, 
						'temario': temario.titulo}) 
					}}">{{temario.titulo}}</a>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li class="nav-item dropdown">
		{% set activar = (activo == 'foros') ? 'active' : '' %}
		<a class="{{ 'nav-link dropdown-toggle ' ~ activar }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Foros</a>
		<ul class="dropdown-menu">
			{% for foro in asignatura.getForos %}
				<li class="dropdown-item"><a href="{{foro.url}}" target="_blank">{{foro.descripcion}}</a></li>
			{% endfor %}
		</ul>
	</li>	
</ul>