<ul>
	<li>Vídeos
		<ul>
			{% for categoria in asignatura.getCategorias() %}
				<li><a href="{{ path('contenido_videos_categoria', {
						'asignatura': asignatura.titulo,
						'categoria': categoria.descripcion}) 
					}}">{{categoria.descripcion}}</a>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li><a href="{{ path('contenido_documentos_asignatura', {
		'asignatura': asignatura.titulo
	}) }}">Documentos</a></li>

	<li>Temarios
		<ul>
			{% for temario in asignatura.getTemarios %}
				<li><a href="{{ path('contenido_indice_temario', {
						'asignatura': asignatura.titulo, 
						'temario': temario.titulo}) 
					}}">{{temario.titulo}}</a>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li>Foros
		<ul>
			{% for foro in asignatura.getForos %}
				<li><a href="{{foro.url}}" target="_blank">{{foro.descripcion}}</a></li>
			{% endfor %}
		</ul>
	</li>	
</ul>