{% extends 'Asignatura/info_asignatura.html.twig' %}

	{% set temario = {
			'id':12,
			'titulo': 'Titulo del temario t1',
			'matriculado': false,
			'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
		}
	%}
		{% 
			set secciones = [
				{
			'id':331,
			'titulo': 'Titulo de la sección s1',
			'matriculado': false,
			'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

				}, 
				{
			'id':332,
			'titulo': 'Titulo de la sección s2',
			'matriculado': true,
			'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

				}, 
				{
			'id':333,
			'titulo': 'Titulo de la seccion s3',
			'matriculado': false,
			'descripcion': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

				}, 
			] 
		%}

{% block cuerpo_asignatura %}
    <div>Título del temario</div>

    <div>
		{% if temario.matriculado %}
			Matriculado
		{% else %}
			<a href="{{ path('catalogo_incluir_temario', {'temario': temario.id}) }}">Matricularse</a>
		{% endif %}    
	</div>

	<div>
    	{{temario.descripcion}}
    </div>

    <div>
    	Indice del temario
    </div>

    {% for seccion in secciones %}

    	<div>
    		<p>{{seccion.titulo}}</p>
    	</div>

        <div>
			{% if seccion.matriculado %}
				Matriculado
			{% else %}
				<a href="{{ path('catalogo_incluir_seccion', {'seccion': seccion.id}) }}">Matricularse</a>
			{% endif %}
        </div>

	    <div>
	    	{{seccion.descripcion}}
	    </div>

	{% endfor %}

{% endblock %}


