{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'usuario_perfil',
                    'descripcion': 'Perfil', 
                    'parametros': {
                    	'username': app.user.username
                	}
                }, 
                {
                    'url': 'usuario_perfil',
                    'descripcion': usuario.nombre ~ ' ' ~ usuario.apellidos, 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}	
	<div class="container-fluid bg-warning">Perfil de usuario</div>

	{% if actualizado %}
		<div>
			Tus datos se han actualizado con éxito.
		</div>
	{% endif %}

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
        	       <div>Nombre:</div>
        	       <div>Usuario:</div>
        	       <div>Email:</div>
        	       <div>Universidad:</div>
                </div>
                <div class="col-9">
                   <div>{{usuario.nombre ~ ' ' ~ usuario.apellidos}}</div>
                   <div>{{usuario.username}}</div>
                   <div>{{usuario.email}}</div>
                   <div>{{usuario.universidad}}</div>
                </div>
            </div>

        	<div>Cambio de clave:</div>

            <div>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">{{ form_row(form.password) }}</div>
                <div class="form-group">{{ form_row(form.recuperar) }}</div>
                {{ form_end(form) }}
            </div>

{#
        	<div>
        		{{ form_start(form) }}
        		{{ form_widget(form) }}
        		{{ form_end(form) }}
        	</div>
#}

        </div>

        <div class="col-6">
            <div>Te has matriculado en...</div>
            {% for matricula in matriculas_temarios %}
                <div>{{ matricula.getTemario().getTitulo() }}</div>
            {% endfor %}

            {% for matricula in matriculas_secciones %}
                <div>{{ matricula.getSeccion().getTitulo() ~ ' de temario ' ~  matricula.getSeccion().getTemario().getTitulo() }}</div>
            {% endfor %}

            {% for matricula in matriculas_servicios %}
                <div>{{ matricula.getServicio().getTitulo() }}</div>
            {% endfor %}
        </div>
    </div>
	
{% endblock %}