{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'usuario_perfil',
                    'descripcion': 'Perfil', 
                    'parametros': {
                    	'username': app.user.username
                	}
                }, 
                {
                    'url': 'usuario_perfil',
                    'descripcion': usuario.nombre ~ ' ' ~ usuario.apellidos, 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}	
	<div>Perfil de usuario</div>

	{% if actualizado %}
		<div>
			Tus datos se han actualizado con éxito.
		</div>
	{% endif %}

	<div>Nombre:{{usuario.nombre ~ ' ' ~ usuario.apellidos}}</div>
	<div>Usuario:{{usuario.username}}</div>
	<div>Email:{{usuario.email}}</div>
	<div>Universidad:{{usuario.universidad}}</div>

	<div>Cambio de clave:</div>

	<div>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
	
{% endblock %}