{% extends 'Aula/aula_asignatura.html.twig' %}
{#{% extends 'Aula/seccion.html.twig' %}#}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_raiz',
                    'descripcion': 'Aula', 
                }, 
                {
                    'url': 'contenido_cargar_temarios',
                    'descripcion': asignatura.titulo, 
                    'parametros': {
                        'asignatura': asignatura.titulo
                    }
                },
                {
                    'url': 'contenido_cargar_secciones',
                    'descripcion': temario.titulo, 
                    'parametros': {
                        'asignatura': asignatura.titulo,
                        'temario': temario.titulo
                    }
                },
                {
                    'url': 'contenido_cargar_seccion',
                    'descripcion': seccion.titulo, 
                    'parametros': {
                        'asignatura': asignatura.titulo,
                        'temario': temario.titulo,
                        'seccion': seccion.titulo,
                    }
                },                
                {
                    'url': 'contenido_cargar_consultas',
                    'descripcion': (consultas | length) ~ ' Consultas al profesor',
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block cuerpo_aula %}
    
    <div id="consultas" class="container-fluid btn btn-primary">
    	{{consultas | length}} Consultas al profesor
    </div>

    <div id="cuerpo_consultas">

        {% for consulta in consultas %}
            <div class="container-fluid">
            	<span class="border-danger text-danger">Consulta</span>
            	<span class="ml-3">{{consulta.fecha | date('d/m/Y H:i')}}</span>
            	<div class="fondo-consulta">{{consulta.descripcion}}</div>
            	<div class="text-info text-right">{{'@' ~ consulta.usuario.username}}</div>

            	{% for respuesta in consulta.respuestas %}
                    <div class="container-fluid">
                        <span class="text-success">Respuesta</span>
                        <span class="ml-3">{{respuesta.fecha | date('d/m/Y H:i')}}</span>
                        <div class="fondo-consulta">{{respuesta.descripcion}}</div>
                        <div class="text-info text-right">{{'@' ~ respuesta.usuario.username}}</div>
            		</div>
            	{% endfor %}
            </div>
        {% endfor %}
    </div>

    {#
    <a href="{{ path('contenido_cargar_consultas', {
    					'asignatura': 'Asignatura A1',
    					'temario': 'temario T1',
    					'seccion': 'Sección S1',
    					'id': 10
    				}) 
    			}}">Cargar más consultas</a>
    #}

    {% if is_granted('ROLE_ALUMNO') %}

        <div class="mt-3">
            {{ form_start(form_consulta) }}
            {{ form_errors(form_consulta) }}
            <div class="form-group">{{ form_row(form_consulta.descripcion) }}</div>
            <div class="form-group">{{ form_row(form_consulta.enviar) }}</div>
            {{ form_end(form_consulta) }}
        </div>

    {% endif %}

{% endblock %}