{% extends 'Aula/seccion.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('examenes/css/estilos.css') }}" type="text/css">
{% endblock %}

{% block cuerpo_seccion %}

    <div id="preguntas">
        {% for pregunta in preguntas %}
    		<ul>{{pregunta.descripcion}}
                <div id="mensaje_error" class="oculto">ERROR</div>
                {% for opcion in pregunta.getOpciones() %}
                    <li>
                        <input type="checkbox" name="{{ 'pregunta_' ~ pregunta.id}}">
                        <input type="hidden" value="{{opcion.cierta}}">
				        {{opcion.descripcion}}
                    </li>
				{% endfor %}
            </ul>
		{% endfor %}		
	</div>

	<div>
		<div>
            <button id="validar">Validar</button>
		</div>
		<div id="nota">7,5</div>
		<div>Cuestiones incorrectas:</div>
	</div>
{% endblock %}


{% block javascripts %}
    {{parent()}}

    <script type='text/javascript'>
    $jQuery_3_3_1(document).ready(
        function(){

            //Al hacer click en un item de uno de los listados, todos sus hermanos pasan a quedar a false
            // el 'checked' de prop s칩lo funciona con el elemento DOM input, no con su padre 'li'
            $('div#preguntas ul li').bind('click', function() {
                $(this).siblings().children('input[type=checkbox]').prop('checked', false);
            });

            $('button#validar').bind('click', function() {

                var total = $('div#preguntas ul').length, aciertos = 0, fallos = 0, num_opciones = 0;
                
                $('div#preguntas ul').each(function(){
                    
                    var acierto = false, intento = false;
                    num_opciones = $(this).children('li').length;

                    $(this).children('li').each(function(){
                        if ($(this).children('input[type=checkbox]').is(':checked')) {
                            intento = true;
                            if ($(this).children('input[type=hidden]').val()) acierto = true;
                        }
                    });

                    // Si se acert칩 la pregunta se incrementa el acierto y se oculta mensaje de error
                    // si se f치ll칩 se muestra se incrementa el fallo y se muestra mensaje de error
                    if (acierto) {
                        aciertos++;
                        $(this).children('div').attr('class', 'oculto');
                    
                    } else if (intento) {
                        fallos++;
                        $(this).children('div').attr('class', 'visible');
                    }
                    
               });

                alert(total+' '+aciertos+' '+fallos+' '+num_opciones);
                var nota = '8,15';
                $('div#nota').text(nota);
            }); 
        }
    );
    </script>

{% endblock %}