{% extends 'Aula/seccion.html.twig' %}

{% set preguntas = [
            {	
            	'id':33, 
            	'descripcion':'Esta es la primera pregunta', 
                'opciones':
                    [
                    	{
                    		'id': 45, 
                    		'descripcion': 'Aquí la primera opción'
                    	},
                    
                    	{
                    		'id': 345, 
                    		'descripcion': 'Aquí la segunda opción'
                    	},
                    	{
                    		'id': 145, 
                    		'descripcion': 'Aquí la opción final'
                    	},
                	]
            },
            {
            	'id': 37, 
            	'descripcion': 'Esta es la segunta',
                'opciones': 
                	[
                    	{
                    		'id': 435, 
                    		'descripcion': 'Aquí la 2primera opción '
                    	},
                    	{
                    		'id': 1545, 
                    		'descripcion': 'Aquí la 2opción final'
                    	},
                	]
            },
            {
            	'id': 833, 
            	'descripcion': 'Aquí la otra',
                'opciones': [
                    {
                    	'id': 45, 
                    	'descripcion': 'Aquí la 3primera opción'
                    },
                    {
                    	'id': 345, 
                    	'descripcion': 'Aquí la 3segunda opción'
                    },
                    {
                    	'id': 145, 
                    	'descripcion': 'Aquí la 3opción final'
                    },
                ]
            },
        ]
%}

{% block cuerpo_seccion %}

	{% for pregunta in preguntas %}
		<div>{{pregunta.descripcion}}</div>
		{% for opcion in pregunta.opciones %}
			<div>
				<input type="checkbox" name="{{pregunta.id}}" value="{{opcion.id}}">
				{{opcion.descripcion}}
				<br>
			</div>
		{% endfor %}		
	{% endfor %}

	<div>
		<div>
			<a href="{{ path('contenido_evaluar_examen', {
				'asignatura': 'Asigna A1',
				'temario': 'Temario T1',
				'seccion': 'Sección S1'
			}) }}"button>Validar</a>
		</div>
		<div>7,5</div>
		<div>Cuestiones incorrectas:</div>
	</div>
{% endblock %}