{% extends 'Aula/acceso_secciones.html.twig' %}

{% if not seccion.getTeorica %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('examenes/css/estilos.css') }}" type="text/css">
    {% endblock %}
{% endif %}


{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_raiz',
                    'descripcion': 'Aula', 
                }, 
                {
                    'url': 'contenido_cargar_temarios',
                    'descripcion': asignatura.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo
                	}
                },
                {
                    'url': 'contenido_cargar_secciones',
                    'descripcion': temario.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo,
                    	'temario': temario.titulo
                	}
                },
                {
                    'url': 'contenido_cargar_seccion',
                    'descripcion': seccion.titulo, 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block seccion %}

	<div>título de sección</div>

    {# si el temario está siendo guiado mostramos el progreso #}
    {% if guia.guiado %}
        {% set progreso = (seccion.orden * 100) / temario.getSecciones() | length %}
    	<div id="progreso" class="progress">
        	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" 
        		aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" 
                style="width:{{progreso ~ '%'}}">
                {{progreso ~ '%'}}
    		</div>
    	</div>
        <div id="paso">{{ 'Paso [' ~ seccion.orden ~ '] de ' ~ temario.getSecciones() | length }}</div>        
    {% endif %}

    {% block cuerpo_seccion %}
        {% if seccion.getTeorica %}
            {% set dir_asignatura = 'asignatura' ~ seccion.getTemario().getAsignatura.getId() %}
            {% set dir_temario = 'temario' ~ seccion.getTemario().getId() %}
            {% include(asset('Secciones/' ~ 
                dir_asignatura ~ '/' ~ dir_temario ~ '/seccion' ~ seccion.getId()  ~ '.html')) %}
        {% else %}
            {% include('Aula/examen.html.twig') %}
        {% endif %}
    {% endblock %}

    {# si el temario está siendo guiado mostramos el display #}
    {% if guia.guiado %}
        <div id="display">

    		<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': temario.getSecciones()[0].titulo
    		}) }}" class="text-primary" style="font-size:2em;">
                <i class="fas fa-step-backward"></i>
            </a>

    		<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': seccion.getAnterior().titulo
    		}) }}" style="font-size:3em;" class="text-primary">
                <i class="fas fa-caret-left"></i>
            </a>

    		<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': seccion.getPosterior().titulo
    		}) }}" style="font-size:3em;" class="text-primary">
                <i class="fas fa-caret-right"></i>
            </a>

    	</div>
    {% endif %}

    <div class="container-fluid">
        <a href="{{ path('contenido_cargar_consultas', {
            'asignatura': asignatura.titulo,
            'temario': temario.titulo,
            'seccion': seccion.titulo
            }) }}" class="btn btn-primary btn-block">
            {{ num_consultas ~ ' Consultas' }}
        </a>

    </div>
    
    {% block consultas %}
    {% endblock %}

{% endblock %}

{% if not seccion.getTeorica %}
    {% block javascripts %}
        {{parent()}}
        <script type='text/javascript'>
        $jQuery_3_3_1(document).ready(
            function(){

                //Al hacer click en un item de uno de los listados, todos sus hermanos pasan a quedar a false
                // el 'checked' de prop sólo funciona con el elemento DOM input, no con su padre 'li'
                $('div#preguntas ul li').bind('click', function() {
                    $(this).siblings().children('input[type=checkbox]').prop('checked', false);
                });

                $('button#validar').bind('click', function() {

                    var total = $('div#preguntas ul').length, aciertos = 0, fallos = 0, num_opciones = 0;
                    
                    $('div#preguntas ul').each(function(){
                        
                        var acierto = false, intento = false;
                        num_opciones = $(this).children('li').length;

                        $(this).children('li').each(function(){
                            if ($(this).children('input[type=checkbox]').is(':checked')) {
                                intento = true;
                                if ($(this).children('input[type=hidden]').val()) acierto = true;
                            }
                        });

                        // Si se acertó la pregunta se incrementa el acierto y se oculta mensaje de error
                        // si se fálló se muestra se incrementa el fallo y se muestra mensaje de error
                        if (acierto) {
                            aciertos++;
                            $(this).children('div').attr('class', 'oculto');
                        
                        } else if (intento) {
                            fallos++;
                            $(this).children('div').attr('class', 'visible');
                        }
                        
                   });

                    alert(total+' '+aciertos+' '+fallos+' '+num_opciones);
                    var nota = '8,15';
                    $('div#nota').text(nota);
                }); 
            }
        );
        </script>

    {% endblock %}
{% endif %}