
{% extends 'Aula/acceso_secciones.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'contenido_raiz',
                    'descripcion': 'Aula', 
                }, 
                {
                    'url': 'contenido_cargar_temarios',
                    'descripcion': asignatura.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo
                	}
                },
                {
                    'url': 'contenido_cargar_secciones',
                    'descripcion': temario.titulo, 
                    'parametros': {
                    	'asignatura': asignatura.titulo,
                    	'temario': temario.titulo
                	}
                },
                {
                    'url': 'contenido_cargar_seccion',
                    'descripcion': seccion.titulo, 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% set progreso = (seccion.orden * 100) / temario.getSecciones() | length %}

{% block seccion %}

	<div>título de sección</div>

	<div id="progreso" class="progress">
    	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" 
    		aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100" 
            style="width:{{progreso ~ '%'}}">
            {{progreso ~ '%'}}
		</div>
	</div>

    <div id="paso">{{ 'Paso [' ~ seccion.orden ~ '] de ' ~ temario.getSecciones() | length }}</div>

    {% block cuerpo_seccion %}
    {% endblock %}

    {% include('Aula/consultas.html.twig') %}


    {# Aquí lo referente al display #}
    <div id="display">
		<div>
			<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': temario.getPrimera_seccion().titulo
			}) }}">Primera sección</a>
		</div>
		<div>
			<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': seccion.getAnterior().titulo
			}) }}">Sección anterior</a>
		</div>
		<div>
			<a href="{{ path('contenido_guardar_guia', {
				'asignatura': asignatura.titulo,
				'temario': temario.titulo,
				'seccion': seccion.titulo
			}) }}">Guardar</a>
		</div>

		<div>
			<a href="{{ path('contenido_cargar_seccion', {
                'asignatura': asignatura.titulo,
                'temario': temario.titulo,
                'seccion': seccion.getPosterior().titulo
			}) }}">Sección posterior</a>
		</div>
	</div>

	<div id="consultas"></div>

{% endblock %}
