{% extends 'Catalogo/catalogo.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_cargar',
                    'descripcion': 'Catalogo', 
                }, 
                {
                    'url': 'catalogo_servicios',
                    'descripcion': 'Servicios', 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block descripcion_catalogo %}
	<div>Descripción del catálogo de servicios</div>
{% endblock %}

{% block buscador %}

	<div>
		<form action="{{ path('catalogo_servicios') }}" method="post">
        	<input type="text" id="frase" name="frase" placeholder="Busca servicios" />
	    	<button type="submit">Buscar</button>
		</form>
	</div>

{% endblock %}

{% block cuerpo_catalogo %}

	<table>

		<tr>
			<th>Inicio</th>
			<th>Descripción</th>
			<th>Precio</th>
			<th>Matrícula</th>
		</tr>

		{% for servicio in servicios %}
			<tr>
				<td>{{servicio.fechaIni | date('m/d/Y')}}</td>
				<td>{{servicio.titulo}}</td>
				<td>{{servicio.precio ~ '€'}}</td>
				<td>
					{% if servicio.matriculado %}
						Matriculado
					{% else %}
						<a href="{{ path('catalogo_incluir_servicio', {'servicio': servicio.id}) }}">Matricularse</a>
					{% endif %}
				</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>{{servicio.descripcion}}</td>
			</tr>
		{% endfor %}

	</table>	

{% endblock %}


