{% extends 'Catalogo/catalogo.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_cargar',
                    'descripcion': 'Catalogo', 
                }, 
                {
                    'url': 'catalogo_temarios',
                    'descripcion': 'Asignaturas', 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block buscador %}

	<div>
		<form action="{{ path('catalogo_buscar_secciones') }}" method="post">
        	<input type="text" id="frase" name="frase" placeholder="Busca secciones" />
	    	<button type="submit">Buscar</button>
		</form>
	</div>

{% endblock %}

{% block cuerpo_catalogo %}
	<div>Catálogo de asignaturas</div>
	<table>
		<tr>
			<th>Descripción</th>
			<th>Precio</th>
			<th>Matrícula</th>
		</tr>

		{% for asignatura in asignaturas %}
			
			<tr><td colspan="3">{{asignatura.titulo}}</td></tr>

			{% for temario in asignatura.temarios %}
				<tr>
					<td><a href="{{ path('catalogo_secciones', {'temario_titulo': temario.titulo}) }}">{{temario.titulo}}</a></td>
					<td>{{temario.precio}}</td>
					<td>
						{% if temario.matriculado %}
							Matriculado
						{% else %}
							<a href="{{ path('catalogo_incluir_temario', {'temario': temario.id}) }}">Matricularse</a>
						{% endif %}
					</td>
				</tr>

				{% for seccion in temario.secciones %}
					<tr>
						<td>{{seccion.titulo}}</td>
						<td>{{seccion.precio ~ '€'}}</td>
						<td>
							{% if seccion.matriculado %}
								Matriculado
							{% else %}
								<a href="{{ path('catalogo_incluir_seccion', {
									'temario_titulo': temario.titulo,
									'seccion': seccion.id}) 
								}}">Matricularse</a>
							{% endif %}
						</td>
					</tr>					
				{% endfor %}

			{% endfor %}

		{% endfor %}
		
	</table>


{% endblock %}


