{% extends 'Catalogo/catalogo.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_cargar',
                    'descripcion': 'Catalogo', 
                }, 
                {
                    'url': 'catalogo_temarios',
                    'descripcion': 'Asignaturas', 
                }, 

            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block buscador %}

	<div class="mt-3">
		<form action="{{ path('catalogo_buscar_secciones') }}" method="post">
			<div class="form-group">
				<div class="input-group mb-3">
					<input type="text" id="frase" name="frase" placeholder="Busca secciones" class="form-control"/>
  					<div class="input-group-append">
    					<span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
    					<button type="submit" class="btn btn-primary">Buscar</button>
  					</div>
				</div>
        	</div>
		</form>
	</div>	

{% endblock %}

{% block cuerpo_catalogo %}
	<div>Catálogo de asignaturas</div>
	<table class="table">

		<thead class="thead-light">		
			<tr>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Matrícula</th>
			</tr>
		</thead>

		{% for asignatura in asignaturas %}
			
			<tr><td colspan="3">{{asignatura.titulo}}</td></tr>

			{% for temario in asignatura.temarios %}
				<tr>
					<td><a href="{{ path('catalogo_secciones', {'temario_titulo': temario.titulo}) }}">{{temario.titulo}}</a></td>
					<td class="text-right">{{temario.precio ~ '€'}}</td>
					<td>
						{% if temario.matriculado %}
							Matriculado
						{% else %}
							<a href="{{ path('catalogo_incluir_temario', {'temario': temario.id}) }}">Matricularse</a>
						{% endif %}
					</td>
				</tr>

				{% for seccion in temario.secciones %}
					<tr>
						<td>{{seccion.titulo}}</td>
						<td>{{seccion.precio ~ '€'}}</td>
						<td>
							{% if seccion.matriculado %}
								Matriculado
							{% else %}
								<a href="{{ path('catalogo_incluir_seccion', {
									'temario_titulo': temario.titulo,
									'seccion': seccion.id}) 
								}}">Matricularse</a>
							{% endif %}
						</td>
					</tr>				

					<tr>
						<td>&nbsp;</td>
						<td>{{seccion.descripcion}}</td>
					</tr>

				{% endfor %}

				<tr>
					<td>&nbsp;</td>
					<td>{{temario.descripcion}}</td>
				</tr>

			{% endfor %}

		{% endfor %}
		
	</table>


{% endblock %}


