{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_pedido',
                    'descripcion': 'Pedido', 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}
	<div>[1/3] Aquí tienes el detalle de tu pedido</div>

	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Descripción</th>
				<th>Precio</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		{% set total = 0 %}
		{% for concepto in conceptos %}
			<tr>
				<td>{{ (concepto | nombre_clase) ~ ': ' ~ concepto.titulo  }}</td>
				<td>{{concepto.precio ~ '€'}}</td>
				<td><a href="{{ path('catalogo_eliminar_concepto', {
					'tipo_concepto': (concepto | nombre_clase),
					'id_concepto': concepto.id
					}) }}">Eliminar</a>
				</td>
			</tr>
			{% set total = total + concepto.precio %}
		{% endfor %}
		
		<tr><td colspan="2">iva incluido</td></tr>

		<tr>
			<td>Total</td>
			<td>{{total ~ '€'}}</td>
			<td>&nbsp;</td>
		</tr>

	</table>

	<div>
		<form name="frm" action="{{ path('catalogo_revisar_pedido')}}" method="post">
			<input type="hidden" name="importe" value="{{ total }}" />
			<button type="submit" class="btn btn-primary">Inicia el proceso de matriculación</button>
		</form>		
	</div>

{% endblock %}


