{% extends 'Contenido/raiz.html.twig' %}

{% block breadcrumbs %}

    <div>
        {# Definiendo los nodos del breadcrums #}
        {% set nodos = [
                {
                    'url': 'contenido_raiz',
                    'descripcion': '#', 
                }, 
                {
                    'url': 'catalogo_factura',
                    'descripcion': 'Factura', 
                }, 
            ] 
        %}            
        {% include('Contenido/breadcrums.html.twig') %}
    </div>

{% endblock %}

{% block bloqueB %}

	<div>
		<div>[3/3] ¡Enhorabuena! Estás matriculado!</div>
		<div>Ya puedes tener acceso al aultario cuando quieras</div>

		<div>{{ 'Número de factura: ' ~ factura.codigo }}</div>
		<div>{{ app.user.nombre ~ app.user.apellidos }}</div>
		<div>{{ '(' ~ app.user.username ~ ') ' ~ app.user.email }}</div>
		<div>Fecha factura: {{ factura.fecha | fecha_normal }}</div>
	</div>

	<table>

		<tr>
			<th>Descripción</th>
			<th>Impuestos</th>
			<th>Precio</th>
		</tr>

		{% for concepto in factura.getConceptos() %}
			<tr>
				<td>{{ concepto.descripcion }}</td>
				<td>{{concepto.iva ~ '%'}}</td>
				<td>{{concepto.precio ~ '€'}}</td>
			</tr>
		{% endfor %}
		
		<tr>
			<td>Base imponible:</td>
			<td>&nbsp;</td>
			<td>{{factura.total - factura.iva ~ '€'}}</td>
		<tr>

		<tr>
			<td>Impuestos:</td>
			<td>&nbsp;</td>
			<td>{{factura.iva ~ '€'}}</td>
		</tr>

		<tr>
			<td>Importe total:</td>
			<td>&nbsp;</td>
			<td>{{factura.total ~ '€'}}</td>
		</tr>

	</table>

	<div>
		<button onclick="window.print()">Imprimir</button>
	</div>

{% endblock %}


